/** @format */

.App-container {
  min-height: 100vh;
  position: relative;
}

/* React Logo & Links  */

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App Header Style */

.App-header {
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
  background-color: #282c34;
}

/* App Body Style */

.App-body {
  background-color: #282c34;
  padding-bottom: 6vh;
  height: 88vh;

}

/* App Footer Style */

.App-footer {
  background-color: #282c34;
  color: white;
  position: absolute;
  bottom: 0;
  height: 6vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
}
